<a href="https://colab.research.google.com/github/CarlosAguiar01/LPO/blob/main/Crud_Operacoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Demonstre como fazer as quatro operações de CRUD e suas rotas para obter o recurso de um livro que está no estoque de uma livraria. Um livro possui informações como nome, autor e ISBN.


CRUD é uma sigla/apelido para Create, Read, Update and Delete, em pt-br seria Criar, Ler, Atualizar, Deletar

CRIO
Quando se quer adicionar algo (uma ou mais linhas) a uma tabela MySQL, utiliza-se o comando INSERT. A sintaxe básica é:
INSERT INTO `livraria`(`nomelivro`, `autor`, `isbn`) VALORES (`programador`, `pablo`, `000-0-00-0`);

LER
Quando se quer ler, puxar, ver, trazer, mostrar alguma informação do banco de dados, em MySQL, utiliza-se o SELECT. A sintaxe básica é:
SELECIONE `nomelivro` DE `livraria`;

ATUALIZAR
Quando se quer atualizar, edite algo (uma ou mais linhas) em uma tabela MySQL, utilize-se o comando UPDATE. A sintaxe básica é:
UPDATE `livraria` SET `nomelivro`='pablo romero' WHERE `quantidade`= 1;

EXCLUIR
Quando se quer deletar, remove, exclui algo (uma ou mais linhas) de uma tabela MySQL, utiliza-se o comando DELETE. A sintaxe básica é:
DELETE FROM `livraria`;