<a href="https://colab.research.google.com/github/CarlosAguiar01/LPO/blob/main/SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

De acordo com as tabelas, programe um código SQL para gerar a estrutura do banco de dados dessa
 biblioteca.
 
Siga as instruções:

1. incluiu uma coluna DATA_NASCIMENTO na tabela ALUNO do tipo string e de tamanho 10 caracteres;
2. altere a coluna TELEFONE para CONTATO e seu tipo de dado para string;
3. Incluído o campo ISBN na tabela LIVRO, com tamanho de 13 caracteres do tipo inteiro;
4. e remoção do campo ISBN da tabela LIVRO.




Insert Into Aluno (Data_Nascimento) Values ( VARCHAR ( 10 ) );

Alter Aluno Change Column Telefone Contato Varchar  NOT NULL ;

Insert Into LIVRO (ISBN) Values ( INT ( 13 ));

Alter Table Livro Drop Column ISBN