<a href="https://colab.research.google.com/github/CarlosAguiar01/LPO/blob/main/TriggerBD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Você deve criar uma tabela para executar uma trigger que relacione algum comando, como: insert, select, delete ou update.

In [ ]:
#Criação de Tabelas:

CREATE TABLE "carro" (
	"id_carro"	INTEGER NOT NULL,
	"id_modelo"	INTEGER,
	PRIMARY KEY("id_carro" AUTOINCREMENT),
	FOREIGN KEY("id_modelo") REFERENCES "modelo"("id_modelo")
);

CREATE TABLE "modelo" (
	"id_modelo"	INTEGER NOT NULL,
	"modelo"	TEXT,
	"cor"	INTEGER,
	PRIMARY KEY("id_modelo" AUTOINCREMENT)
);

#Aplicação do Trigger

CREATE  TRIGGER  evento """nome criado pelo usuário para o novo trigger"""
ON  [modelo] """ é a tabela à qual o trigger se aplica."""
AFTER {[INSERT],[UPDATE],[DELETE]}
AS
{sql_statements}